
<div class="container">
  <div class="profile text-center">
    <div class="main">
      <div class="main-content">
        <img src="https://kitt.lewagon.com/alumni/#{user.github_nickname}" alt="" width="150" class="img-circle">
        <h2>Audebert Mathieu</h2>
        <p>student at Le Wagon</p>
        <a href="#" class="btn btn-primary btn-lg">Get in touch</a>
      </div>
    </div>
    <div class="stat">
      <div class="stat-content">
        <h3>over 9,000</h3>
        <p>contributions</p>
      </div>
    </div>
    <div class="stat">
      <div class="stat-content">
        <h3>1,025,324</h3>
        <p>followers</p>
      </div>
      </div>
    <div class="stat">
      <div class="stat-content">
        <h3>42</h3>
        <p>repositories</p>
      </div>
      </div>
    <div class="description">
      <div class="description-content">
        <h3>More about Mathieu</h3>
        <p class="text-justify">
          I'm a student @le Wagon.
        </p>
      </div>
    </div>
  </div>
</div>
